/*--------head------------*/
.header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

.header_logo img {
  background-color: yellow;
  padding-top: 2rem;
  padding-left: 2rem;
  width: 7.5rem;
  height: auto;
}

.header_account {
  padding-right: 2rem;
}
