/*--------head------------*/
.header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.header_logo img {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 7rem;
  height: auto;
}

.header_account {
  display: flex;
  padding-right: 2rem;
  gap: 1rem;
}
