.h2_reports {
  direction: rtl;
}

.title_Reports {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: auto;
}

.one {
  /* background-color: rgb(47, 215, 80); */
  width: 100%;
}

.two {
  width: 100%;
  /* background-color: violet; */
}

.barchart_reports {
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  width: 86%;
  margin: auto;
  background: #f8f8ff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
