.title_Reports {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: auto;
}

.one {
  /* background-color: rgb(47, 215, 80); */
  width: 100%;
}

.two {
  width: 100%;
  /* background-color: violet; */
}
